.board-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.board-column {
    width: 500px;
    background:rgba(211,211,211, 0.6)
}

.task {
    text-indent: 10px;
}

.card-header {
    border-bottom: none;
    background-color: transparent;
}