<div class="board">
  <div class="my-5">
      <div class="board-columns" cdkDropListGroup>

          <div class="card rounded board-column mr-1 ml-5">  <!-- task -->
              <div class="card-header text-center">
                <h5 class="font-weight-bold">TO DO</h5>
              </div>
      
              <div class="card-body tasks-container"
                  cdkDropList
                  #todoList="cdkDropList"
                  [cdkDropListData]="todo"
                  (cdkDropListDropped)="drop($event)">
                  <div class="task bg-light rounded shadow-lg p-3 mb-2" *ngFor="let item of todo" cdkDrag [cdkDragData]="item._id">
                    <div class="text-break w-100 text-justify">
                      {{ item.description }}
                    </div>
                    <div style="width: 50px;margin-top: 5px;" class="text-right">
                      <a (click)="editCard(item)" class="mr-1">
                        <img src="assets/edit.svg">
                      </a>
                      <a (click)="deleteCard(item, $event)"> 
                        <img src="assets/trash.svg">
                      </a>
                    </div>
                  </div>
              </div>
  
              <div class="card-footer text-center">
                  <a (click)="createCard(todoList.id)" class="btn btn-outline-dark">+</a>
              </div>
          </div>

          <div class="card rounded board-column mx-4">  <!-- task -->
              <div class="card-header text-center">
                  <h5 class="font-weight-bold">DOING</h5>
                </div>
  
              <div class="card-body tasks-container"
                  cdkDropList
                  #doingList="cdkDropList"
                  [cdkDropListData]="doing"
                  (cdkDropListDropped)="drop($event)">
                  <div class="task bg-light rounded shadow-lg p-3 mb-2" *ngFor="let item of doing" cdkDrag [cdkDragData]="item._id">
                    <div class="text-break w-100 text-justify">
                      {{ item.description }}
                    </div>
                    <div style="width: 50px;margin-top: 5px;" class="text-right">
                      <a (click)="editCard(item)" class="mr-1">
                        <img src="assets/edit.svg">
                      </a>
                      <a (click)="deleteCard(item, $event)"> 
                        <img src="assets/trash.svg">
                      </a>
                    </div>
                  </div>
              </div>
                
              <div class="card-footer text-center">
                  <a (click)="createCard(doingList.id)" class="btn btn-outline-dark">+</a>
              </div>
          </div>

          <div class="card rounded board-column mr-5 ml-1">  <!-- task -->
              <div class="card-header text-center">
                  <h5 class="font-weight-bold">DONE</h5>
                </div>
                  
              <div class="card-body tasks-container"
                  cdkDropList
                  #doneList="cdkDropList"
                  [cdkDropListData]="done"
                  (cdkDropListDropped)="drop($event)">
                  <div class="task bg-light rounded shadow-lg p-3 mb-2" *ngFor="let item of done" cdkDrag [cdkDragData]="item._id">
                    <div class="text-break w-100 text-justify">
                      {{ item.description }}
                    </div>
                    <div style="width: 50px;margin-top: 5px;" class="text-right">
                      <a (click)="editCard(item)" class="mr-1">
                        <img src="assets/edit.svg">
                      </a>
                      <a (click)="deleteCard(item, $event)"> 
                        <img src="assets/trash.svg">
                      </a>
                    </div>
                  </div>
              </div>
                
              <div class="card-footer text-center">
                  <a (click)="createCard(doneList.id)" class="btn btn-outline-dark">+</a>
              </div>
          </div>

      </div>
  </div>
</div>