/* .board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
} */
/* 
.board-wrapper {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
} */

.board-columns {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.board-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 500px;
    margin: 50px;
    padding: 25px;
    border-radius: 4px;
    background:rgba(211,211,211, 0.6)
}

.board-column:not(:first-child){
    margin-left: 0;
} 
.column-title {
    font-size: 20px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    color: black;
    opacity: 0.6;
    margin-bottom: 20px;
}

.tasks-container {
    flex-grow: 1;
    overflow-y: auto; 
}

.task {
    display: flex;
    padding: 15px 12px;
    background: white;
    border-bottom: solid 1px #ddd;
    border-radius: 4px;

    margin-bottom: 5px;

    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
    0 3px 14px 2px rgba(0, 0, 0, 0.05);
}
