
.board:hover{
    filter: brightness(80%);
    cursor: pointer;
}

.theme-default {
    background-image: url(../background/image.png);
    background-size: 300px;
}

.theme-light {
    background-image: url(../background/light.jpg);
    background-size: 300px;
}

.theme-rainbow {
    background-image: url(../background/rainbow.jpg);
    background-size: 300px;
}

.theme-blue {
    background-image: url(../background/blue.jpg);
    background-size: 300px;
}