<div class="rounded column mx-4 my-4 d-flex flex-wrap" style="min-width: 100%">

    <div style="width: 300px; max-width: 300px; height:100px;" class="board flex-fill p-2 mx-5 my-5 text-break" *ngFor="let item of boards" (click)="goToBoard(item)">
        {{item.title}}
    </div>
    <a style="width: 300px; max-width: 300px; height:100px; display: table;" class="board flex-fill p-2 mx-5 my-5 text-center"  (click)="createBoard()">
        <span style="display: table-cell; vertical-align: middle;">New Board +</span>
    </a>

</div>
