.board {
    min-width: 300px; 
    max-width: 300px; 
    height:110px; 
    background-color:rgb(211, 211,  211, 0.5);
    border: 0.5px solid rgba(0,0,0,.125);
}

.board:hover{
    filter: brightness(80%);
    cursor: pointer;
}

.theme-light {
    background-image: url(../background/light.jpg);
    background-size: 300px;
}

.theme-summer {
    background-image: url(../background/summer.jpg);
    background-size: 300px;
}

.theme-rainbow {
    background-image: url(../background/rainbow.jpg);
    background-size: 300px;
}

.theme-ocean {
    background-image: url(../background/ocean.jpg);
    background-size: 300px;
}