<form>
   <div class="modal-header">
      <h5 class="modal-title control-label" id="modal-basic-title">Create Card:</h5>
   </div>
   <div class="modal-body">
      <input required type="text" [class.red]="descriptionControl.invalid && flag" class="form-control" name="description" [(ngModel)]="description" #descriptionControl="ngModel">
      <span class="help-block text-danger" *ngIf="descriptionControl.invalid && flag">
         Description is required
      </span>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close
      </button>
      <button type="submit" class="btn btn-outline-dark" (click)="create()" id="save">Save</button>
   </div>
</form>