<nav class="navbar navbar-dark" style="min-width: 100%">
  <a class="navbar-brand font-weight-bold">{{board_title}}</a>

  <div class="icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="assets/three-dots.svg">
    <div class="dropdown-menu dropdown-menu-right rounded" style="min-width: 8rem;">
      <button class="dropdown-item" type="button" (click)="editTitle()">Edit Title</button>
      <button class="dropdown-item" type="button" (click)="deleteBoard()">Delete Board</button>
    </div>
  </div>
<!-- 
  <div class="text-right">
    <a class="icon mr-2" (click)="editTitle()">
      <img src="assets/edit.svg">
    </a>
    <a class="icon" (click)="deleteBoard()"> 
      <img src="assets/trash.svg">
    </a>
  </div> -->

</nav>

<div class="board my-5" cdkDropListGroup>

  <div class="card rounded column mr-1 ml-5">  <!-- task TO DO -->
      <div class="card-header text-center">
        <h5 class="text font-weight-bold">TO DO</h5>
      </div>
      <div class="card-body"
          cdkDropList
          #todoList="cdkDropList"
          id="todo"
          [cdkDropListData]="todo"
          (cdkDropListDropped)="drop($event)">
          <div class="task bg-light rounded shadow-lg p-3 mb-2" *ngFor="let item of todo" cdkDrag [cdkDragData]="item._id">
            <div class="text-break text-justify w-100">
              {{ item.description }}
            </div>
            <div style="width: 50px; margin-top: 5px;" class="text-right">
              <a class="icon mr-1" (click)="editCard(item)">
                <img src="assets/edit.svg">
              </a>
              <a class="icon" (click)="deleteCard(item)"> 
                <img src="assets/trash.svg">
              </a>
            </div>
          </div>
      </div>
      <div class="card-footer text-center">
          <a (click)="createCard('todo')" class="btn btn-outline-dark">+</a>
      </div>
  </div>

  <div class="card rounded column mx-4">  <!-- task DOING -->
      <div class="card-header text-center">
          <h5 class="text font-weight-bold">DOING</h5>
        </div>
      <div class="card-body"  
      cdkDragHandle 
      cdkDropList 
      #doingList="cdkDropList"
      id="doing"
      [cdkDropListData]="doing" 
      (cdkDropListDropped)="drop($event)">
          <div class="task bg-light rounded shadow-lg p-3 mb-2" *ngFor="let item of doing" cdkDrag cdkDragHandle [cdkDragData]="item._id">
            <div class="text-break text-justify w-100">
              {{ item.description }}
            </div>
            <div style="width: 50px; margin-top: 5px;" class="text-right">
              <a class="icon mr-1" (click)="editCard(item)">
                <img src="assets/edit.svg">
              </a>
              <a class="icon" (click)="deleteCard(item)"> 
                <img src="assets/trash.svg">
              </a>
            </div>
          </div>
      </div>
      <div class="card-footer text-center">
          <a (click)="createCard('doing')" class="btn btn-outline-dark">+</a>
      </div>
  </div>

  <div class="card rounded column mr-5 ml-1">  <!-- task DONE -->
      <div class="card-header text-center">
          <h5 class="text font-weight-bold">DONE</h5>
        </div>
      <div class="card-body"
          cdkDropList
          #doneList="cdkDropList"
          id="done"
          [cdkDropListData]="done"
          (cdkDropListDropped)="drop($event)">
          <div class="task bg-light rounded shadow-lg p-3 mb-2" *ngFor="let item of done" cdkDrag [cdkDragData]="item._id">
            <div class="text-break text-justify w-100">
              {{ item.description }}
            </div>
            <div style="width: 50px; margin-top: 5px;" class="text-right">
              <a class="icon mr-1" (click)="editCard(item)">
                <img src="assets/edit.svg">
              </a>
              <a class="icon" (click)="deleteCard(item)"> 
                <img src="assets/trash.svg">
              </a>
            </div>
          </div>
      </div>
      <div class="card-footer text-center">
          <a (click)="createCard('done')" class="btn btn-outline-dark">+</a>
      </div>
  </div>

</div>

