<nav class="navbar navbar-dark">
  <a class="text navbar-brand font-weight-bold">{{board_title}}</a>

  <li class="dropdown" style="list-style-type:none;">
    <a class="icon dropdown" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
      <img src="assets/three-dots.svg">
    </a>
    <ul class="dropdown-menu  multi-level dropdown-menu-right">
      <button class="dropdown-item" type="button" (click)="editTitle()">Edit Title</button>
      <button class="dropdown-item" type="button" (click)="deleteBoard()">Delete Board</button>
      
      <li class="dropdown-submenu">
        <a class="icon dropdown-item" data-toggle="dropdown" data-display="static" id="dropdownThemeButton" aria-haspopup="true" aria-expanded="false">
          Themes
        </a>
        <ul class="dropdown-menu">
          <button class="dropdown-item" type="button" (click)="editTheme('light')">Light</button>
          <button class="dropdown-item" type="button" (click)="editTheme('summer')">Summer</button>
          <button class="dropdown-item" type="button" (click)="editTheme('rainbow')">Rainbow</button>
          <button class="dropdown-item" type="button" (click)="editTheme('ocean')">Ocean</button>
        </ul>
      </li>

    </ul>
  </li>

</nav>

<div class="task-container my-5" cdkDropListGroup>

  <div class="card rounded column mr-1 ml-5">  <!-- task TO DO -->
      <div class="text card-header text-center">
        <h5 class="font-weight-bold">TO DO</h5>
      </div>
      <div class="card-body"
          cdkDropList
          #todoList="cdkDropList"
          id="todo"
          [cdkDropListData]="todo"
          (cdkDropListDropped)="drop($event)">
          <div class="task bg-light rounded shadow-lg p-3 mb-2" *ngFor="let item of todo" cdkDrag [cdkDragData]="item._id">
            <div class="text-break text-justify w-100">
              {{ item.description }}
            </div>
            <div style="width: 50px; margin-top: 5px;" class="text-right">
              <a class="icon mr-1" (click)="editCard(item)">
                <img src="assets/edit.svg">
              </a>
              <a class="icon" (click)="deleteCard(item)"> 
                <img src="assets/trash.svg">
              </a>
            </div>
          </div>
      </div>
      <div class="card-footer text-center">
          <a (click)="createCard('todo')" class="btn btn-outline-dark">+</a>
      </div>
  </div>

  <div class="card rounded column mx-4">  <!-- task DOING -->
      <div class="text card-header text-center">
          <h5 class="font-weight-bold">DOING</h5>
        </div>
      <div class="card-body"  
      cdkDragHandle 
      cdkDropList 
      #doingList="cdkDropList"
      id="doing"
      [cdkDropListData]="doing" 
      (cdkDropListDropped)="drop($event)">
          <div class="task bg-light rounded shadow-lg p-3 mb-2" *ngFor="let item of doing" cdkDrag cdkDragHandle [cdkDragData]="item._id">
            <div class="text-break text-justify w-100">
              {{ item.description }}
            </div>
            <div style="width: 50px; margin-top: 5px;" class="text-right">
              <a class="icon mr-1" (click)="editCard(item)">
                <img src="assets/edit.svg">
              </a>
              <a class="icon" (click)="deleteCard(item)"> 
                <img src="assets/trash.svg">
              </a>
            </div>
          </div>
      </div>
      <div class="card-footer text-center">
          <a (click)="createCard('doing')" class="btn btn-outline-dark">+</a>
      </div>
  </div>

  <div class="card rounded column mr-5 ml-1">  <!-- task DONE -->
      <div class="text card-header text-center">
          <h5 class="font-weight-bold">DONE</h5>
        </div>
      <div class="card-body"
          cdkDropList
          #doneList="cdkDropList"
          id="done"
          [cdkDropListData]="done"
          (cdkDropListDropped)="drop($event)">
          <div class="task bg-light rounded shadow-lg p-3 mb-2" *ngFor="let item of done" cdkDrag [cdkDragData]="item._id">
            <div class="text-break text-justify w-100">
              {{ item.description }}
            </div>
            <div style="width: 50px; margin-top: 5px;" class="text-right">
              <a class="icon mr-1" (click)="editCard(item)">
                <img src="assets/edit.svg">
              </a>
              <a class="icon" (click)="deleteCard(item)"> 
                <img src="assets/trash.svg">
              </a>
            </div>
          </div>
      </div>
      <div class="card-footer text-center">
          <a (click)="createCard('done')" class="btn btn-outline-dark">+</a>
      </div>
  </div>

</div>
