.board {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column {
    width: 500px;
    background:rgba(211,211,211, 0.6)
}

.card-header {
    border-bottom: none;
    background-color: transparent;
}

.card-footer {
    border-top: none;
    background-color: transparent;
}

.task {
    display: flex; 
    justify-content: space-between;
    cursor: grabbing;
}

.navbar{
    background:rgba(211,211,211, 0.6);
    box-shadow: 0px 0px 10px 1px gray;
}

.dropdown-toggle::after {
    display: none;
}