.task-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.column {
    width: 500px;
    min-height: 225px;;
    background:rgba(211,211,211, 0.6)
}

.card-header {
    border-bottom: none;
    background-color: transparent;
}

.card-footer {
    border-top: none;
    background-color: transparent;
}

.task {
    display: flex; 
    justify-content: space-between;
    cursor: grabbing;
}

.navbar{
    background:rgba(211,211,211, 0.6);
    box-shadow: 0px 0px 10px 1px gray;
}

.list{
    list-style-type:none;
}

.bodybg-summer {
    background-image: url(../background/summer.jpg);
}

.bodybg-light {
    background-image: url(../background/light.jpg);
}

.bodybg-rainbow {
    background-image: url(../background/rainbow.jpg);
}

.bodybg-ocean {
    background-image: url(../background/ocean.jpg);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: "  ";
    float: right;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    border-color: transparent;
    border-style: solid; 
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}