<!-- Toolbar -->
<nav class="navbar navbar-expand navbar-light bg-dark">
  <a class="navbar-brand" routerLink="/home">
    <img src="assets/kanban.svg">
    <span class="gray navbar-brand font-weight-bold ml-3">Kanban</span>
  </a>


    <ul class="gray navbar-nav ml-auto">

      <div class="icon btn-group">
        <a class="icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span *ngIf="isLogged()"> <img src="assets/people.svg"> </span>
        </a>
        <div class="menu dropdown-menu dropdown-menu-right rounded">
          <div class="text text-center font-weight-bold" *ngIf="isLogged()">{{ getName() }}</div>
          <div class="dropdown-divider" *ngIf="isLogged()"></div>
          <button class="dropdown-item" *ngIf="!isLogged()" type="button" routerLink="/login">Log In</button>
          <button class="dropdown-item" *ngIf="!isLogged()" type="button" routerLink="/signup">Sign Up</button>
          <button class="dropdown-item" *ngIf="isLogged()" [class.disable]="atHome()" type="button" routerLink="/home">Boards</button>
          <button class="dropdown-item" *ngIf="isLogged()" type="button" routerLink="/settings">Settings</button>
          <button class="dropdown-item" *ngIf="isLogged()" type="button" (click)="logout()">Log Out</button>
        </div>
      </div>

    </ul>

</nav>


<router-outlet>

<div class="alert alert-{{message.type}} alert-dismissible fade show mt-2 mx-2" role="alert" *ngFor="let message of messages(); let i = index">
  {{ message.text }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="remove(i)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

</router-outlet>