<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" routerLink="/home">
    <svg class="bi bi-kanban" style="color:gray" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M13.5 1h-11a1 1 0 00-1 1v12a1 1 0 001 1h11a1 1 0 001-1V2a1 1 0 00-1-1zm-11-1a2 2 0 00-2 2v12a2 2 0 002 2h11a2 2 0 002-2V2a2 2 0 00-2-2h-11z" clip-rule="evenodd"/>
      <rect width="3" height="5" x="6.5" y="2" rx="1"/>
      <rect width="3" height="9" x="2.5" y="2" rx="1"/>
      <rect width="3" height="12" x="10.5" y="2" rx="1"/>
    </svg>
    <span class="navbar-brand font-weight-bold ml-3" style="color:gray">Kanban</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

    </ul>

    <ul class="navbar-nav ml-auto mt-3">
      <p>
        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <img src="assets/settings.svg">
        </a>
      </p>
    </ul>
  </div>
</nav>
<div class="collapse" id="collapseExample">
  <div class="card card-body float-right">
    <li class="dropdown-item" *ngIf="!isLogged()">
      <div type="button" routerLink="/login">Log In</div>
    </li>
    <li class="dropdown-item" *ngIf="!isLogged()" >
      <div type="button" routerLink="/signup">Sign Up</div>
    </li>
    <li class="dropdown-item" *ngIf="isLogged()">
      <a type="button" (click)="logout()">Log Out</a>
    </li>
  </div>
</div>


<router-outlet>
<div class="col-12">
  <div class="alert alert-{{message.type}} alert-dismissible fade show" role="alert" *ngFor="let message of messages(); let i = index">
    {{ message.text }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="remove(i)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
</router-outlet>