<form>
    <div class="modal-header">
       <h5 class="modal-title control-label" id="modal-basic-title">Create Board:</h5>
    </div>
    <div class="modal-body">
       <input required type="text" [class.red]="(titleControl.invalid && flag) || alreadyExists" class="form-control" name="title" [(ngModel)]="title" #titleControl="ngModel">
       <span class="help-block text-danger" *ngIf="titleControl.invalid && flag">
          Title is required
       </span>
       <span class="help-block text-danger" *ngIf="alreadyExists">
         {{this.error}}
      </span>
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close
       </button>
       <button type="submit" class="btn btn-outline-dark" (click)="create()" id="save">Save</button>
    </div>
 </form>
